*{margin:0}
html{font-size:16px;height:100%;margin:0;background:#FFF}
body{height:100%}
.ComingSoonBlock{
	width:100%;
	height:100%;
	text-align:center;
}
.PhoediXTitle1{
	font-family:"Arial";
	font-size:9.0em;
	text-align:center;
	display:inline-block;
	font-weight:100;
	color:#333333;
}
.PhoediXTitle2{
	font-family:"Arial";
	font-size:12.0em;
	text-align:center;
	display:inline-block;
	margin-bottom: 0.1em;
}
.PhoediXBriefDescription{
	font-family:"Arial";
	font-size:1.5em;
	width: 50%;
	text-align: left;
	padding-left: 25%;
	margin-bottom: 3.0em;
}
.Title{
	font-family:"Arial";
	font-size:2.5em;
	margin-bottom: 0.5em;
	width: 50%;
	text-align: left;
	padding-left: 25%;
}

.SubTitle{
	font-family:"Arial";
	font-size:2.0em;
	width: 50%;
	text-align: left;
	padding-left: 25%;
}